.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 100%;
    margin-top: 2vw;
  }

.contentContainer{
    grid-column: 2 / 13;
    /* position: relative; */
}

.info{
    position: fixed;
    left: 65%;
    width: 25%;
    margin-bottom: 5vh;
}

.image{
    /* height: 100%;  */
    width: 100%;
    /* position: absolute; */
    vertical-align: middle;
    display: inline-block ;
    border-style: none;
    margin-bottom: 2%;
}

.commentArea{
    margin-bottom: 5vh;

}

.comments{
    height: 40vh;
    overflow-y: scroll;
}

.author{
    margin-top: 2vh;
    margin-bottom: 3vh;
    cursor: pointer;
}

.content{
    min-height: 30vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.tags{
    width: 100%;
    margin-bottom: 5vh;
    /* height: 10vh; */
}

.carousel{
    height: 100%;
}