.container {

}

.notesGallary {
  border: 1px solid black;
  height: 85vh;
  width: 75vw;
  display: flex;
  margin: 3vh auto 0 auto;
}

.prohibitTag {
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 48vh;
}

.addNote {
  border: 1px solid black;
  position: fixed;
  right: 5vw;
  bottom: 10vh;
}