/* .container {} */

.notesGallary {
  width: 75vw;
  margin: 3vh auto 0 auto;
}

.prohibitTag {
  position: fixed;
  left: 1vw;
  top: 30vh;
}

.addNote {
  position: fixed;
  right: 5vw;
  top: 30vh;
}