.container {
  width: 70%;
  padding-left: 50px;
}

.menu {
  height: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #0c4266;
}

.Soso {
  color: #0c4266;
  font-weight: 550;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 15px;
}

.menuItem {
  cursor: pointer;
}

.activeItem {
  color: #fac267;
}