@import url('https://fonts.googleapis.com/css?family=Pacifico');

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  background: white;
}

.logo {
  /* border: 1px solid grey; */
  grid-column: 3 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  font-weight: 550;
  font-size: 35px;
}

.search {
  /* border: 1px solid grey; */
  grid-column: 7 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  /* border: 1px solid grey; */
  grid-column: 13 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}